#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.card {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  
  
}

.card-title {
  text-align: center;
}


.card-body .card-text1 {
  border-top: 10px;
}
